<nav class="navbar navbar-expand-lg bg-light navbar-light shadow fixed-top">
    <div class="container-fluid">
      <img height="50px" src="https://www.nestdigital.com/images/logo.svg" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
           
            <li class="nav-item">
                <a class="nav-link" routerLink="/add_emp">My Profile</a>
            </li>  
          <li class="nav-item">
            <a class="nav-link" routerLink="/add_security">Add Secueity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view_all_emp">Leave Application</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/serch_emp">Leave Status</a>
          </li>
          
        </ul>
      </div>
      <button type="button" class="btn btn-outline-dark btn-sm btn-nav" routerLink="/">Logout -></button>
    </div>
  </nav>