<section class="home p-5">
    <div class="container p-5 mt-3">
        <div class="row m-5">
            <div class="col col-xxl-12 text-center shadow-sm">
                <img width="20%" src="https://www.nestdigital.com/images/logo.svg" alt="" class="">
                
            </div>
            <div class="row p-5 m-5">
                <div class="box col-12 col-sm-12 col-md-12 col-lg-4 p-5 mx-4 text-center text-secondary shadow" routerLink="/admin_login" style="width: 25%; height: 320px;">
                    <img height="320px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUQLZFjrh3KHHnJX1HEIJF9PFS5E40Zn1A1Q&usqp=CAU" alt="" class="img-fluid p-5 " >
                    <h3>Admin</h3>
                </div>
                <div class="box col-12 col-sm-12 col-md-12 col-lg-4 p-5 mx-4  text-center text-secondary shadow" routerLink="/emp_login" style="width: 25%; height: 320px;">
                    <img height="320px" src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" alt="" class="img-fluid p-5 g-5">
                    <h3>Employee</h3>
                </div>
                <div class="box col-12 col-sm-12 col-md-12 col-lg-4 p-5 mx-4 text-center text-secondary shadow " routerLink="/security_login" style="width: 25%; height: 320px;">
                    <img height="320px" src="https://cdn-icons-png.flaticon.com/512/2592/2592258.png" alt="" class="img-fluid p-5 g-5">
                    <h3 >Security</h3>
                </div>
            </div>
        </div>
    </div>
</section>